---
# Import main.css
---

@import "normalize";

body {
  margin: 0;
  font-family: Lato, Helvetica, sans-serif;
  background-color: #fafafa;
  color: #262626;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 1.5em 0;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

h2 {
  font-size: 0.60em;
}

h3 {
  font-size: 0.60em;
}

p {
  font-size: 1em;
  font-weight: bold;
}

@media only screen and (min-width: 45em){
  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.5em;
  }
}

.wrapper {
  padding: 0 1.5em;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.home-intro {
  padding: 3em 0;
}

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 50vh 100vw 0 0;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  z-index: -100;
}

@media only screen and (min-width: 45em) {
  .home-intro {
    padding: 5em 0;
  }
  .home-background {
    border-width: 100vh 100vw 0 0;
  }
}
