---
# Import main.css
---

@import "normalize";

body {
  margin: 0;
  font-family: Lato, Helvetica, sans-serif;
  background-color: #fafafa;
  color: #262626;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 1.5em 0;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  font-size: 1.5em;
  font-weight: bold;
}

.wrapper {
  padding: 0 1.5em;
}
