---
# Import main.css
---

@import 'normalize';

$text-color: #222;
$gray-text-color: #666;
$background-color: #fafafa;
$background-accent-color: #eee;

body {
  margin: 0;
  font-family: 'Nunito', Helvetica, sans-serif;
  background-color: $background-color;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 1.5em 0;
  .site-header {
    font-size: 1.75em;
  }
}

p {
  font-size: 1.25em;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}

pre.highlight {
  background-color: $background-accent-color;
  padding: 1em;
}

code {
  font-family: 'monaco', monospace;
}

time {
  font-size: 1em;
  color: $gray-text-color;
}

article {
  margin: 3em 0;
}

.contact-link {
  color: $text-color;
  text-decoration: none;
}

.wrapper {
  padding: 0 1em;
  max-width: 56em;
  margin-left: auto;
  margin-right: auto;
}

.home-intro {
  padding: 3em 0;
}

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 50vh 100vw 0 0;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  z-index: -100;
}

@media only screen and (min-width: 45em) {
  .wrapper {
    padding: 0 1.5em;
  }
  .home-intro {
    padding: 5em 0;
  }
  .home-background {
    border-width: 100vh 100vw 0 0;
  }
}
